<div class="sidebar">
  <h6>The Book of OpenLayers3</h6>
  <p>Discover the power of the new version of the first open source web mapping library:</p>
  <a href="https://leanpub.com/thebookofopenlayers3">
    <img alt="The Book of OpenLayers3" src="{{ site.baseurl }}assets/uploads/thebookofopenlayers3-230x300.jpeg">
  </a>

  <h6>OpenLayers Cookbook</h6>
  <p>OpenLayers Cookbook includes problem solving and how-to recipes for the most common and important tasks when working with OpenLayers v2.</p>
  <a href="https://www.packtpub.com/application-development/openlayers-cookbook">
    <img alt="OpenLayers Cookbook" src="{{ site.baseurl }}assets/uploads/7843OS_OpenLayer Cookbook_cov_0.jpg">
  </a>
</div>
