---
layout: default
post_class: post-template page-template
cover: https://unsplash.it/1500/500?random&blur
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.url }}{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.url }}{{ site.baseurl }}rss.xml">Subscribe</a>

        <a class="subscribe-button" href='{{ site.url }}{{ site.baseurl }}about.html'>About Me</a>
        <a class="subscribe-button" href='{{ site.url }}{{ site.baseurl }}projects'>Projects & Works</a>
        <a class="subscribe-button" href='{{ site.url }}{{ site.baseurl }}books'>Books</a>
    </nav>
</header>

<!-- <nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.url }}{{ site.baseurl }}">Home</a>
    <a class="subscribe-button icon-feed" href="{{ site.url }}{{ site.baseurl }}rss.xml">Subscribe</a>
</nav> -->


<main class="content" role="main">
    <article class="post">
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
