---
layout: default
post_class: post-template
cover: https://unsplash.it/1500/500?random&blur
disqus: true
---

<!-- Header image section -->
{% include header.html %}

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.tags.size > 0 %}
                    {{ page.tags | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.url }}{{ site.baseurl }}/" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        {{ site.author_description }}
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% if layout.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>
